{% extends './base.html' %}
{% block content %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">Book Details</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="index.html">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">Book Details</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="maincontent bg--white pt--80 pb--55">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9 col-12" style="margin-left:auto; margin-right: auto">
        				<div class="wn__single__product">
        					<div class="row">
        						<div class="col-lg-6 col-12">
        							<div class="wn__fotorama__wrapper">
	        							<div class="fotorama wn__fotorama__action" data-nav="thumbs">
											  {% if book.image %}
		        							  <a><img href="#" src="{{book.image.url}}" alt=""></a>
											  {% endif %}
	        							</div>
        							</div>
        						</div>
        						<div class="col-lg-6 col-12">
        							<div class="product__info__main">
        								<h1>{{book.title}}</h1>
        								<div class="product-reviews-summary d-flex">
        									<a href="#related-books"><p>By {{book.author}}</p></a>
        								</div>
        								<div class="price-box">
        									<span>${{book.price}}</span>
        								</div>
										<div class="product__overview">
        									<p>{{book.description}}</p>
        								</div>
        								<div class="box-tocart d-flex">
        									<span>Qty</span>
        									<input id="qty" class="input-text qty" name="qty" min="1" value="1" title="Qty" type="number">
        									<div class="addtocart__actions">
        										<button class="tocart" type="submit" title="Add to Cart">Add to Cart</button>
        									</div>
											<div class="product-addto-links clearfix">
												<a class="wishlist" href="#"></a>
											</div>
        								</div>
										<div class="product-share">
											<ul>
												<li class="categories-title">Share :</li>
												<li>
													<a href="#">
														<i class="icon-social-twitter icons"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="icon-social-tumblr icons"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="icon-social-facebook icons"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="icon-social-linkedin icons"></i>
													</a>
												</li>
											</ul>
										</div>
        							</div>
        						</div>
        					</div>
        				</div>
        				<div class="product__info__detailed">
							<div class="pro_details_nav nav justify-content-start" role="tablist">
	                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Book Details</a>
								<a class="nav-item nav-link" data-toggle="tab" href="#nav-author" role="tab">About the Author</a>
	                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Reviews</a>
	                        </div>
	                        <div class="tab__container">
	                        	<!-- Start Single Tab Content -->
	                        	<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
									<div class="description__attribute">
										<p><strong>Rating: </strong>{{book.rating}}/5</p>
										<p><strong>Genre: </strong>{{book.genre}}</p>
										<p><strong>Author: </strong>{{book.author}}</p>
										<p><strong>Bio: </strong>{{book.author.bio}}</p>
										<p><strong>Publisher: </strong>{{book.publisher}}</p>
										<p><strong>Publishing Date: </strong>{{book.releaseDate}}</p>
									</div>
	                        	</div>
								<div class="pro__tab_label tab-pane fade" id="nav-author" role="tabpanel">
									<div class="description__attribute">
										<p><strong>Author: </strong>{{book.author}}</p>
										<p><strong>Bio: </strong>{{book.author.bio}}</p>
									</div>
	                        	</div>
	                        	<!-- End Single Tab Content -->
	                        	<!-- Start Single Tab Content -->
	                        	<div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
									<div class="review__attribute">
										<h1>Customer Reviews</h1>

										<h2>User1</h2>
										<div class="review__ratings__type d-flex">
											<p>{{book.comments}}</p>
										</div>
									</div>
									<div class="review-fieldset">
										<h2>You're reviewing:</h2>
										<h3>{{book.title}}</h3>
										<div class="review_form_field">
											<div class="input__box">
												<span>Nickname</span>
												<input id="nickname_field" type="text" name="nickname">
											</div>
											<div class="input__box">
												<span>Summary</span>
												<input id="summery_field" type="text" name="summery">
											</div>
											<div class="input__box">
												<span>Review</span>
												<textarea name="review"></textarea>
											</div>
											<div class="review-form-actions">
												<button>Submit Review</button>
											</div>
										</div>
									</div>
	                        	</div>
	                        	<!-- End Single Tab Content -->
	                        </div>
        				</div>
						
						<div id="related-books" class="wn__related__product pt--80 pb--50">
							<div class="section__title text-center">
								<h2 class="title__be--2">Related Books</h2>
							</div>
							<div class="row mt--60">
								<ul>
								{% for book in related_books %}
							<li>	
									<!-- Start Single Product -->
									<h2 style="color: black;">***{{book.title}}</h2>
									<!-- Start Single Product -->
								
							</li>
								
								{% empty %}
							
								<h3>This author doesn't have any other books</h3>
								{% endfor %}
							</ul>
							</div>
						</div>
						
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End main Content -->
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form--2" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here...">
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
{% endblock content %}